[raken@cdh01 ~]$ HADOOP_USER_NAME=hdfs sqoop import --connect jdbc:postgresql://localhost:7432/scm --table cm_version --username scm --password 2BfxNqddSW -m 1 --target-dir hdfs://cdh02:8020/home/humberto/sqoop2/

[raken@cdh01 ~]$ sqoop job --create Job_day1 -- import --connect jdbc:postgresql://localhost:7432/scm --table cm_version --username scm --password 2BfxNqddSW -m 1 --target-dir hdfs://cdh02:8020/home/raken/humberto

